<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"></link>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</h:head>
<h:body>
    <div class="container">
        <h:dataTable value="#{todoListMB.todos}" var="todo"
            styleClass="highlight">
            <h:column>
                <f:facet name="header">Id</f:facet>
                #{todo.id}
            </h:column>

            <h:column>
                <f:facet name="header">Description</f:facet>
                #{todo.description}
            </h:column>
        </h:dataTable>

        <div>
            Total de tarefas:
            <h:outputText value="#{todoListMB.todosCount}" />
        </div>
    </div>
</h:body>
</html>
